*{box-sizing: border-box;}

#myDialog div {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: gray;
    padding: 0.5rem;
    border-bottom: 1px solid slategray;
    width: 100%;
}

#myDialog h2 {
    margin: 0;
    color: navy;
}

#myDialog button {
    margin: 0;
    border: 1px solid slategray;
    border-radius: 8px;
    box-shadow: 0 0 10px lightgrey;
    cursor: pointer;
}

#myDialog p {
    padding: 1rem;
    color: navy;
}

::backdrop {
    background-color: darkslategrey;
    opacity: 50%;
}